.jumbotron{
    background-color: #f4511e; /* Orange */
    height: 50%;
}

.search__body{
    background-image: url("http://janaus.com/images/Movie.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 120%;
}

.search__parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search_well{
    border-radius: 0px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.75);
}

.search__title{
    font-family: 'Open Sans', sans-serif;
    margin:5px;
    font-weight: 800;
}

.search__subtitle{
    font-family: 'Open Sans', sans-serif;
    margin:5px;
    font-weight: 600;
}

#sub-btn{
    margin-top: 15px;
}

.result__body{
    background-image: url("http://janaus.com/images/Movie.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 120%;
}



.result__header{
    font-family: 'Open Sans', sans-serif;
    margin:5px;
    font-weight: 800;
    text-shadow: 1px 1px #000;
    color:#fff;
    font-size: 45px;
}

.result__title{
    font-family: 'Open Sans', sans-serif;
    margin:5px;
    font-weight: 600;
    font-size: 25px;
}

.result__year{
    font-family: 'Open Sans', sans-serif;
    margin:5px;
    font-weight: 600;
    font-size: 20px;
}

.result__well{
    margin:5px;
    padding: 5px;
}
.no-side-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.result__img{
    /*height: 300px;*/
    /*width: auto;*/
    max-width: 100%; 
    height: auto;
    display:block;
}